@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Context;
<!DOCTYPE html>
<html lang="en" class="overflow-y-scroll">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Circ4Bio </title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/host.js"></script>
    <script src="~/js/notification.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/dist/output.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/loader.css" type="text/css" />
    <link href="~/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    @await Html.PartialAsync("_Favicons")
</head>
<body>

    <partial name="_DashboardHeader" />

<main role="main">
    <div class="hidden" id="overlay">
        <div class="flex justify-center my-64">
            <div class="loadingio-spinner-eclipse-bpb0a9tyqqv">
                <div class="ldio-91csn44uaj7">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-max-customized">
        <div id="layout-container" class="overflow-hidden">
            <div class="relative bg-sky-700 lg:pb-32 pb-16">
                <!-- Menu open: "bg-sky-900", Menu closed: "bg-transparent" -->
                <!-- Menu open: "bottom-0", Menu closed: "inset-y-0" -->
                <div aria-hidden="true" class="inset-y-0 absolute inset-x-0 left-1/2 transform
                     -translate-x-1/2 w-full lg:overflow-hidden overflow-visible lg:inset-y-0">
                    <div class="absolute inset-0 flex">
                        <div class="h-full w-1/2" style="background-color: #0a527b;"></div>
                        <div class="h-full w-1/2" style="background-color: #065d8c;"></div>
                    </div>
                    <div class="relative flex justify-center">
                        <svg class="flex-shrink-0" width="1750" height="308" viewBox="0 0 1750 308" xmlns="http://www.w3.org/2000/svg">
                            <path d="M284.161 308H1465.84L875.001 182.413 284.161 308z" fill="#0369a1"/>
                            <path d="M1465.84 308L16.816 0H1750v308h-284.16z" fill="#065d8c"/>
                            <path d="M1733.19 0L284.161 308H0V0h1733.19z" fill="#0a527b"/>
                            <path d="M875.001 182.413L1733.19 0H16.816l858.185 182.413z" fill="#0a4f76"/>
                        </svg>
                    </div>
                </div>
                <header class="relative py-4 lg:py-8 pb-10 mb-8 lg:pb-0 lg:mb-8">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                        <h1 class="text-xl lg:text-2xl font-bold text-white">
                            @ViewData["Title"]
                        </h1>
                    </div>
                </header>
            </div>
            <!--This class has been removed max-w-screen-xl from third div-->
            <main class="relative -mt-32">
                <div class="mx-auto pb-6 px-4 sm:px-6 lg:pb-16 lg:px-8">
                    <div class="bg-white rounded-lg shadow overflow-hidden">
                        <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x" id="scroll-into-top">

                            @if ((string)Context.HttpContext.Request.RouteValues.Values.First() == "/AvailableListing/Index")
                            {
                                <partial name="Shared/_AsideMarket" />

                            }
                            else
                            {
                                <partial name="Shared/_Aside" />
                            }

                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="text-xs lg:ml-10 ml-6 text-sky-800 my-10"> Designed by: <a class="font-bold" href="https://t.me/mhyrinc">Mhyrinc</a></div>
            </main>
        </div>
    </div>

</main>

    <partial name="_Footer" />

    <!--Overlay Effect-->
    <div class="fixed inset-0 overflow-y-auto h-full w-full translate-y-full invisible transform duration-300 opacity-0"
         id="modal">
        <div class="modal-content" id="ModalContent">

        </div>
    </div>
<script src="~/js/MenuHandlers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/datatables/jquery.dataTables.js"></script>
<script src="~/js/datatables/datatables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("CSS", required: false)
</body>
</html>
