@page
@model ServiceHost.Areas.Dashboard.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="divide-y divide-gray-200 lg:col-span-9">
    <div class="flex-grow flex flex-col">
        <main class="flex-grow flex flex-col bg-white">
            <div class="flex-grow mx-auto max-w-7xl w-full flex flex-col px-4 sm:px-6 lg:px-8">
                <div class="flex-shrink-0 pt-10 sm:pt-16">
                </div>
                <div class="flex-shrink-0 my-auto py-16 sm:py-32">
                    <p class="text-sm font-semibold text-sky-700 uppercase tracking-wide">403 error</p>
                    <h1 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">Access Denied</h1>
                    <p class="mt-2 text-base text-gray-500">You don't have enough permission to invoke the function'</p>
                    <div class="mt-6">
                        <a asp-page="/Index" asp-area="Dashboard"
                           class="text-base font-medium text-sky-700 hover:text-sky-500">Go back to Dashboard<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    </div>
</div>
