@model AM.Application.Contracts.Listing.InputAmount

<div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <button type="button" onclick="hideModal()"
            class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span class="sr-only">Close</span>
        <!-- Heroicon name: solid/x -->
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
        </svg>
    </button>
    <div class="mt-3 text-center">
        <form class="divide-y divide-gray-200 lg:col-span-9" asp-page-handler="Increment" asp-page="./Index" data-callback=""
              method="post" data-action="Refresh" data-ajax="true">
            <!-- operation-result -->
            <div class="rounded-md bg-green-50 p-4 transition ease-in-out duration-75" id="operation-result" style="display: none">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/check-circle -->
                        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-sm font-medium text-green-800" id="operation-result-message">

                        </p>
                    </div>
                </div>
            </div>
            <!-- end -->
            <!-- Profile section -->
            @* <div class="py-6 px-4 sm:p-6 lg:pb-8"> *@
            @* <div class="mt-6 flex flex-col lg:flex-row"> *@
                <div class="flex-grow space-y-6">
                    <div>
                        <label asp-for="Count" class="block text-sm font-medium text-gray-700">
                        </label>
                        <div class="mt-1 rounded-md shadow-sm flex">
                            <input type="number" asp-for="Count" class="focus:ring-sky-500 focus:border-sky-500 flex-grow block w-full min-w-0 rounded sm:text-sm border-gray-300">
                            <span class="text-red-500 sm:text-sm" asp-validation-for="Count"></span>
                        </div>
                    </div>
                    <div>
                        <label asp-for="Description" class="block text-sm font-medium text-gray-700">
                        </label>
                        <div class="mt-1">
                            <input type="text" asp-for="Description" class="shadow-sm focus:ring-sky-500 focus:border-sky-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"></input>
                        </div>
                        <p class="mt-2 text-sm text-gray-500">
                            Brief description of this change.
                        </p>
                    </div>
                </div>
                <input asp-for="ListingId" type="hidden"/>
            <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">
                <button type="button" onclick="hideModal()" class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                    Back
                </button>
                <button id="save" type="submit" class="ml-5 bg-sky-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                    Save
                </button>
            </div>

        </form>
    </div>
</div>