@page
@model ServiceHost.Pages.Authentication.ConfirmEmailIndex
@{ ViewData["Title"] = "Confirm Email"; }

<div class='overlay'>
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="~/Images/Circ4Bio.png" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Forgot password?
        </h2>
        <p class="mt-6 text-center text-gray-600">Reset password in two quick steps</p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form method="post"
                  class="space-y-6">
                <div id="message-container">
                    @if (!string.IsNullOrWhiteSpace(Model.Message))
                    {
                        <p class="pb-2 text-red-500" id="failure">
                            @Model.Message
                        </p>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
                    {
                        <p class="pb-2 text-green-500" id="success">
                            @Model.SuccessMessage
                        </p>
                    }
                    <label class="block text-sm font-medium text-gray-700">
                        Email address
                    </label>
                    <div class="mt-1">
                        <input type="email" asp-for="Command.Email" id="user-email"
                               autocomplete="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-sky-700 focus:border-sky-700 sm:text-sm">
                    </div>
                    <span asp-validation-for="Command.Email" class="text-red-500"></span>
                </div>



                <div>
                    <button type="submit" id="login-button" onclick="loading()"
                            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-sky-700 hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">
                        Confirm Email
                    </button>
                </div>
                <div>
                    <a asp-page="/Authentication/Login"
                       class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md text-gray-700 text-sm font-medium hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                        Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section CSS{
    <link rel="stylesheet" href="~/css/Loader.css" />
}

@section Scripts{
<script>
    $(document).ready(function () {
        var childNode = $('#message-container').children();
        if (childNode.attr('id') === 'success') {
            $("#login-button").prop("disabled", true);
            $("#login-button").addClass("bg-gray-200");
            $("#login-button").removeClass("hover:bg-sky-700");
            $("#user-email").prop("disabled", true);
            $("#user-email").addClass("bg-gray-100");
        }
    });
</script>
}